

<div class="activity-keys text-center">

  <div class="activity-border">
    <div class="row activity-key-row ">
      <span class="key">Museums <i class="fa-solid fa-landmark activity-icon"></i><i class="fa-solid fa-sun activity-icon"></i></span>
      <p class="key-text"><%= @trip.destination %> has a wonderful range of exhibitions open to the public. </p>
    </div>

    <div class="row activity-key-row ">
      <span class="key">Parks <i class="fa-solid fa-tree activity-icon"></i><i class="fa-solid fa-sun activity-icon"></i></span>
      <p class="key-text">Explore the beautifully green spaces <%= @trip.destination %> has to offer! </p>
    </div>

    <div class="row activity-key-row ">
      <span class="key">Sights <i class="fa-solid fa-binoculars activity-icon"></i><i class="fa-solid fa-sun activity-icon"></i></span>
      <p class="key-text">Visit the sights and attractions <%= @trip.destination %> has in store! </p>
    </div>

    <div class="row activity-key-row ">
      <span class="key">Walking tours <i class="fa-solid fa-person-walking activity-icon"></i><i class="fa-solid fa-sun activity-icon"></i></span>
      <p class="key-text">Take a day trip and explore the historical sites, monuments, and cultural places <%= @trip.destination %> has to offer! </p>
    </div>

    <div class="row activity-key-row ">
      <span class="key">Cafes <i class="fa-solid fa-mug-hot activity-icon"></i><i class="fa-solid fa-sun activity-icon"></i></span>
      <p class="key-text"><%= @trip.destination %> has a great selection of cafes to try that may take your fancy </p>
    </div>

    <div class="row activity-key-row ">
      <span class="key">Markets <i class="fa-solid fa-store activity-icon"></i><i class="fa-solid fa-sun activity-icon"></i></span>
      <p class="key-text">Browse the famous markets and stalls in the heart of <%= @trip.destination %>! </p>
    </div>

    <div class="row activity-key-row ">
      <span class="key">Restaurants <i class="fa-solid fa-utensils activity-icon"></i><i class="fa-solid fa-moon activity-icon"></i></span>
      <p class="key-text"><%= @trip.destination %> has a great variety of restaurants to try! </p>
    </div>

    <div class="row activity-key-row ">
      <span class="key">Bars <i class="fa-solid fa-martini-glass activity-icon"></i><i class="fa-solid fa-moon activity-icon"></i></span>
      <p class="key-text">Explore the bars and nightlife <%= @trip.destination %> has for you to enjoy! </p>
    </div>


    <%# <div class="row activity-key-row ">
      <span class="key">Daytime <div><i class="fa-solid fa-sun activity-icon"></i></div></span>
    </div>

    <div class="row activity-key-row">
      <span class="key">Nighttime <div><i class="fa-solid fa-moon activity-icon"></i></div></span>
    </div> %>


  </div>



</div>





<%# <div class="activity-keys text-center">
  <div class="col-md-6 activity-key-row first">
    Museums <i class="fa-solid fa-landmark activity-icon"></i>
    Parks <i class="fa-solid fa-tree activity-icon"></i>
  </div>

  <div class="col-md-6 activity-key-row second">
    Sights <i class="fa-solid fa-binoculars activity-icon"></i>
    Restaurants <i class="fa-solid fa-utensils activity-icon"></i>
  </div>

  <div class="col-md-6 activity-key-row third">
    Walking tours <i class="fa-solid fa-person-walking activity-icon"></i>
    Bars <i class="fa-solid fa-martini-glass activity-icon"></i>
  </div>

  <div class="col-md-6 activity-key-row forth">
    Cafes <i class="fa-solid fa-mug-hot activity-icon"></i>
    Markets <i class="fa-solid fa-store activity-icon"></i>
  </div>


</div> %>



<%# <ul class="activity-keys text-center">
<li>Museums <i class="fa-solid fa-landmark activity-icon"></i></li>
<li>Parks <i class="fa-solid fa-tree activity-icon"></i></li>
<li>Sights <i class="fa-solid fa-binoculars activity-icon"></i></li>
<li>Restaurants <i class="fa-solid fa-utensils activity-icon"></i></li>
<li>Walking tours <i class="fa-solid fa-person-walking activity-icon"></i></li>
<li>Bars <i class="fa-solid fa-martini-glass activity-icon"></i></li>
<li>Cafes <i class="fa-solid fa-mug-hot activity-icon"></i></li>
<li>Markets <i class="fa-solid fa-store activity-icon"></i></li>
</ul> %>
