  <%# STARTING CHANGES %>


  <%= simple_form_for(@trip) do |f|%>
        <%# <h1 class=" modal-title fs-5 " id="modalToggleLabel">Create your trip</h1> %>
    <div class="main-new-container">

      <div class="main-content">

        <div class="form-header">
          <h3 class="py-3 trip-form-header">Plan your trip</h3>
              <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
          </div>

        <div class="modal-body" id="form-body" data-controller="purple-checkbox">

          <div class="row inner-new-container">
            <div class="col-md-6">
              <%= f.label :destination %>
              <%=f.text_field :destination, style: 'text-transform: capitalize;', class:"form-control w-100 mt-2", data: { landing_page_target: :destination }, placeholder: "Rome" %>
            </div>

            <%# <%= f.input :destination %><br>

            <div class="col-md-6 guests">
              <%= f.label :number_of_guests %>
              <%= f.input :number_of_guests, input_html: {class: "form-control mt-2 w-75"},class:"form-control", label: false, prompt: "0", collection: [1,2,3,4,5,'6+'] %>
            </div>

          </div>


          <div class="row inner-new-container">
            <div class="col-md-6">
              <%= f.input :start_date,
                          as: :string,
                          input_html: {class: "form-control w-100", data: {controller: "datepicker"}}, placeholder: "01.07.2023" %>
            </div>
            <div class="col-md-6 trip-end">
              <%= f.input :end_date,
                          as: :string,
                          input_html: {class: "form-control w-100", data: {controller: "datepicker"}}, placeholder: "05.07.2023" %>
            </div>
          </div>

          <div class="categories-form d-flex justify-content-center inner-new-container">
            <%= f.input :categories, as: :check_boxes, label: 'What interests you?' ' (Please select at least 4)',
                      label_html: {class: 'mt-5'},
                      input_html: {class: 'inline-checkboxes', data: { purple_checkbox_target: "checkboxes", action: "change->purple-checkbox#fire" }},
                      item_wrapper_class: 'checkbox-item',
                      collection: @categories%>
          </div>

        </div>

        <div class="modal-footer d-flex justify-content-center flex-column">
          <%= f.submit "Generate itinerary", data: {action: 'click->trip-loading#submit'}, class: "btn btn-purple w-50 generatebtn" %>
          <img class="form-logo" src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/822/original/wayfindr2.png?1686224351" alt="wayfindr-logo">
        </div>

      </div>


      <div class="form-img-container">
        <img class="form-img" src="https://images.unsplash.com/photo-1527631746610-bca00a040d60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" alt="background-img">
      </div>


    </div>


  <% end  %>
