<% @trips.each do |trip|  %>
  <% if trip.start_date < Date.today  %>
    <div  class="trip-card"
          data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" title="travel dates"
          data-bs-content="<%= trip.start_date.to_fs(:long_ordinal) %> to <%= trip.end_date.to_fs(:long_ordinal) %>"
          data-animation="">
    <% case trip.destination %>
      <% when "London" %>
        <a href="/trips/<%=trip.id%>"><%= image_tag("london.jpg")%></a>
      <% when "Paris" %>
        <a href="/trips/<%=trip.id%>"><%= image_tag("paris.jpg") %></a>
      <% when "Budapest" %>
        <a href="/trips/<%=trip.id%>"><%= image_tag("budapest.jpg")%></a>
      <% end %>
        <p id="trip-card-info"><%= trip.destination %></p>
    </div>
  <% end %>
<% end %>
