



<div class="container profile-header mt-2 p-2" style="text-align: left;">

  <div class="user-full-info">
    <div><%= image_tag "avatar3.png", class: "avatar-large", alt: "dropdown menu" %> </div>

    <div class="user-info px-3">
      <div class="hello-username"><h2>Hello&nbsp</h2> <h2><strong><%= @user.username %></strong></h2></div>
      <p class="my-1"><%= @user.first_name.capitalize%> <%= @user.last_name.capitalize %></p>
      <p><%= @user.email %></p>
    </div>
  </div>

  <div class="profile-map">
    <%= render "map" %>
  </div>

</div>

<div class="container">

  <div class="profile-container my-5">

    <div class="trips-container" style="margin-top: -16px;" data-controller="hidden-upcoming-trips">
      <div class="see-all-trips m-3">
        <h3>Your upcoming trips:</h3>
        <button class="btn btn-grey see-all" data-action="click->hidden-upcoming-trips#showHiddenTrips" data-hidden-upcoming-trips-target="button">See all</button>
      </div>
      <div class="upcoming-trips">
        <%= render "trips", locals: {trips: @trips} %>
        <%= render "new_trip" %>
      </div>
    </div>

  </div>

    <div class="profile-container my-5">

    <div class="trips-container" data-controller="hidden-past-trips">
      <div class="see-all-trips m-3">
        <h3>Your past trips:</h3>
        <button class="btn btn-grey see-all" data-action="click->hidden-past-trips#showHiddenTrips" data-hidden-past-trips-target="button">See all</button>
      </div>
      <div class="past-trips">
        <%= render "past_trips", locals: {trips: @trips} %>
      </div>
    </div>
  </div>

</div>
