<h1 id="profile-header" class="mt-2 stext-dark p-2" style="text-align: right;"><%= @user.username%>'s profile</h1>
<div style="width: 50vm;">
  <h3 class="m-3">Your upcoming trips:</h3>
</div>

<div class="container d-flex flex-row justify-content-between">
    <%= render "trips", locals: {trips: @trips} %>
    <%= render "new_trip" %>
  </div>
  <%= render "map" %>
</div>

<%= render "past_trips", locals: {trips: @trips} %>
