<!-- Modal -->
<div class="modal fade" id="staticBackdrop<%= activity.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="btn-close btn-x mt-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">

      <!-- activity_show section -->
        <div class="activity-show-header">
          <%= render '/activities/activity_carousel_lrg', activity: activity  %>
        </div>

        <div class="container">
          <h1 class="activity-name mt-3"> <%= activity.name %> </h1>

          <div class="info-card row mt-4">
            <div class="activity-details mb-2">

            <div class="about-info">
              <div><h3><i class="fa-solid fa-circle-info"></i>About</h3></div>
              <div id="rating">
                <div><p class="activity-show-text"><strong>Rating:&nbsp</strong><%= activity.rating %>&nbsp</p></div>
                <div><%= 'â­' * activity.rating %></div>
              </div>
            </div>

              <p id="description"><%= activity.details %></p>
              <a class="btn btn-purple-border rounded" href="<%= activity.website_url %>" target=_blank>Visit the website</a>

            </div>

            <div class="activity-details">

              <div class="category-activity-show">
                <div><i class="fa-solid fa-circle-question"></i></div>
                <div><p class="activity-show-text"><strong>Category:&nbsp </strong> </p></div>
                <div><%= render '/trip_activity/activity_type_case', activity: activity %></div>
              </div>

              <div class="category-activity-show">
                <i class="fa-solid fa-map-location"></i>
                <p class="activity-show-text"><strong>Address:&nbsp</strong></p>
                <%= activity.address %>
              </div>
              <div class="category-activity-show">
                <i class="fa-solid fa-phone"></i>
                <p class="activity-show-text"><strong> Telephone number:&nbsp </strong> </p>
                <%= activity.phone_number %>
              </div>
              <div class="category-activity-show">
                <i class="fa-solid fa-clock"></i>
                <p class="activity-show-text"><strong> Opening hours: </strong></p>
              </div>
                <p><%= activity.opening_hours.join("<br>").html_safe %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
